.header__lang-link{
font-family: Inter;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;
margin-right:18px;
text-decoration: none;
}
.header__lang-link:nth-of-type(2n) {
    margin-right: 0;
}
@media all and (min-width: 768px) {
    .header__lang-link{
        font-size: 24px;
        line-height: 28px;
    }
}