.cover__link{
min-height: 200px;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
position: relative;
z-index: 1;
}
@media all and (min-width: 768px) {
    .cover__link{
        min-height: 480px;
    }
} 

@media all and (min-width: 1024px) {
    .cover__link{
        min-height: 640px;
    }
} 

@media all and (min-width: 1280px) {
    .cover__link{
        min-height: 740px;
    }
} 
