@import url(./__item/photo-grid_item.css);

.photo-grid{
padding: 0 16px 64px;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
grid-gap: 12px;
}
@media all and (min-width: 768px) {
    .photo-grid{
        padding:0 24px 88px;
        grid-gap: 16px;
        max-width: 1184px;
    margin: 0 auto;
    }
}
@media all and (min-width: 1024px) {
    .photo-grid{
        padding:0 48px 92px;
        grid-gap: 14px;
    }
}

@media all and (min-width: 1280px) {
    .photo-grid{
        grid-gap: 16px;
    }
}
