.cover__subtitle{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
}

@media all and (min-width: 768px) {
    .cover__subtitle{
        font-size: 18px;
        line-height: 22px;
        padding: 0 100px;
    }
} 
