@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);
@import url(./__logo/header__logo.css);

.header{
max-width: 1184px;
margin: 0 auto;
padding: 16px 16px 0;
display: flex;
justify-content:space-between;
}

@media all and (min-width: 768px) {
    .header{
        padding: 28px 24px 0;
    }
}

@media all and (min-width: 1024px) {
    .header{
        padding: 28px 48px 0;
    }
}
