@import url(../place/__text/place__text.css);
@import url(../place/__image/place__image.css);
@import url(../place/__link/place__link.css);
@import url(./__paragraph/plase__paragraph.css);
@import url(../place/__title/place__title.css);
@import url(../place/__website/place__website.css);
@import url(../place/__url-heading/place__url-heading.css);


.place{
    margin: 0;
    padding-bottom: 48px;
    
}
@media all and (min-width: 768px) {
    .place{
        display: grid;
        grid-template-columns: calc(50% - 20px) calc(50% - 8px);
        grid-template-rows:repeat(2,auto);
        grid-row-gap:48px;
        grid-column-gap: 28px;
        padding: 0 24px 72px;
    }
}
@media all and (min-width: 1024px) {
    .place{
        grid-template-columns: calc(50% - 24px) calc(50% - 8px);
        grid-column-gap: 32px;
        padding: 0 48px 84px;
    }
}
@media all and (min-width: 1280px) {
    .place{
        grid-template-columns: calc(50% - 32px) calc(50% - 8px);
        grid-column-gap: 40px;
        padding: 0 148px 80px;
    }
}