.cover__content{
display: flex;
flex-direction: column;
justify-content: center;
margin: 0 ;
z-index:1;
padding: 33px 16px 33px;
}
@media all and (min-width: 768px) {
    .cover__content{
        padding:0 104px;
    }
} 

@media all and (min-width: 1024px) {
    .cover__content{
        padding:0 232px;
    }
} 
@media all and (min-width: 1280px) {
    .cover__content{
        padding:0 312px;
    }
} 