.cover__content{
display: flex;
flex-direction: column;
justify-content: center;
margin: 0 ;
padding: 33px 16px 33px;
}
@media all and (min-width: 768px) {
    .cover__content{
        max-width: 560px;
        padding: 0;
    }
} 